    h1{
        text-align: center; background-color: wheat;
    }
    #a { 
        background-color: #1976D2;
    }
    #b {
        background-color: #1E88E5;
    }
    #c {
        background-color: #2196F6;
    }
    #d { 
        background-color: #42A5f5;
    }
    #e {
        background-color: #64b5f6;
    }
    #f {
        background-color: #90caf9;
    }
    #g {
        background-color: #bbdefb ;
    }
    #h {
        background-color: rgb(57, 182, 111);
    }
    #i {
        background-color: #f8bbd0;
    }
    #j {
        background-color: #f48fb1;
    }
    #k {
        background-color: #f06292;
    }
    #l {
        background-color: #ec407a;
    }
    #m {
        background-color: #e91e63;
    }
    #n {
        background-color: #d81b60;
    }
    #o {
        background-color: #c2185b;
    }